{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
 
{% block content %}
    <div class="panel right">
        <h1>Create a Twitt</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in twit_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="Twit!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Buddies' Twitts</h1>
        {% for twit in twitts %}
        <div class="twitWrapper">
            <a href="/users/{{ twit.user.username }}">
                <img class="avatar" src="{{ twit.user.profile.gravatar_url }}">
                <span class="name">{{ twit.user.first_name }}</span>
            </a>
            @{{ twit.user.username }}
            <p>
                {{ twit.content }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}